<html>
<head>
</head>
<body>
	<h1>Create An Employee</h1>
	<p>
		<form action="../controller/createemployeerec.php" method="post">
			<li>Employee Number<input type="text" name="eno" /></li>
			<li>Employee Name<input type="text" name="ename" /></li>
			<li>Employee Job<input type="text" name="ejob" /></li>
			<li>Employee Department<input type="text" name="edepartment" /></li>
			<li>Room Number<input type="text" name="eroom" /></li>
			<li>Phone Number<input type="text" name="ephone" /></li>
			<li>E-Mail<input type="text" name="eemail" /></li>
			<li><input type="submit"></li>
		</form>
		
</body>
</html>